#wrap {width:140px; height: 420px; border: 3px solid black;}
#wrap img:hover {transform: scale(1.1); transition: all 1s;}


#logo {text-align: center;}
#logo img {width: 130px; height: 130px; border-radius: 130px;}

hr {width: 110px;}
.item {
    width: 110px; border: 2px solid gray; border-radius: 10px; margin: 0 auto; overflow: hidden;
    
    & img {width: 110px; height: 110px;}
    & div:nth-child(3) {text-align: right; color: blue;}
}

a {
    color: black; text-decoration: none;
    &:hover {color: red;} 
}


button {
    margin-left: 15px; border: none; border-radius: 10px;
    &:hover {
        background-color: yellow;
    }
}


