#wrap { display :flex;}

#div1 {width: 200px; margin-right : 30px;}
#div1 > div:nth-of-type(1) {height: 20px; background-color: red;}
#div1 > div:nth-of-type(2) {
    width:200px; height: 100px; background-color: yellow; display: flex;
    & > :nth-of-type(1) { width: 10%;  background-color: chocolate;}
    & > :nth-of-type(2) { width: 90%; background-color: aqua;}
}
#div1 > div:nth-of-type(3) {height: 20px; background-color: green;}

#div2 {width: 200px; background-color: yellow;}
#div2 > div:nth-of-type(1) {height: 20px; background-color: red;}
#div2 > div:nth-of-type(2) {width: 130px; height : 100px; margin-left: 25px; background-color: green;}
#div2 > div:nth-of-type(3) {height: 20px; background-color: pink;}

#div3 {width: 200px; background-color: yellow;}
#div3 > div:nth-of-type(1) {height: 20px; background-color: red;}
#list {width: 130px; height : 100px; margin-left: 25px; background-color: green;}
#section > div {
    width: 70%; margin: auto; 
    & div {border: 2px solid; background-color: white; margin-top: 5px; }
} 


#div3 > div:nth-of-type(3) {height: 20px; background-color: pink;}