#div1 {width: 1200px; height: 216px; border: 1px solid; margin: auto;}
#div1 > div {width: 216px; height: 216px;  margin-right:30px; display: inline-block;}
#div1 > div:nth-child(5) {margin-right: 0;}
#div1 > div:nth-child(1) {background-image: url("ddddd.jpg");
    background-size: 216px 216px;
}
#div1 > div:nth-child(2) {background-image: url("다운로드.jpg");
    background-size: 216px 216px;
}
#div1 > div:nth-child(3) {background-image: url("ddddd.jpg");
    background-size: 216px 216px;
}
#div1 > div:nth-child(4) {background-image: url("다운로드.jpg");
    background-size: 216px 216px;
}
#div1 > div:nth-child(5) {background-image: url("ddddd.jpg");
    background-size: 216px 216px;
}
#div1 div div {color: red; text-align: center; font-size: 20px; width: 76px; height: 56px; border: 3px solid gray; border-radius: 15px;
margin-top : 90px; margin-left: 70px;}

#div1 div div:hover {color: white; background-color: greenyellow;}