#div1 {
    width: 1200px; height: 1200px;
    border: 1px solid;
    background-image: url("ddddd.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 1200px; /*가로 세로 */
    background-position: 300px 200px; /*위, 왼 */
}
#div1:hover {
    background-image: url("다운로드.jpg");
    color: red;
}

#div1 div {width: 50px; height: 50px;}